@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0 auto;
  font-family: "Montserrat";
  color: black;
  background-color: lightgray;
  --color1: #2a272a;
  --color2: #4b4a54;
  --color3: #677381;
  --color4: #021c36;
}
header {
  width: 100%;
  margin: 0;
  top: 0;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background: url("https://picsum.photos/1200") no-repeat center;
  background-size: cover;
  background-color: #000;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:active,
a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header > * {
  /* background-color: red; */
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 0 0 5px 0;
}

header h1 {
  font-size: 100px;
  text-transform: uppercase;
  line-height: 0.8em;
  letter-spacing: -3px;
  padding: 0 0 5px 0;
}
header h4 {
  padding: 0 0 10px 0;
  font-weight: 300;
  font-size: 22px;
}
button {
  padding: 10;
  background-color: #fff;
  color: black;
  padding: 15px 28px;
  text-transform: uppercase;
  font-weight: 700;
}
nav {
  position: sticky;
  top: 0;
}
nav,
footer {
  height: 100px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

nav > *,
footer > * {
  text-transform: uppercase;
  color: white;
}
nav ul,
footer ul {
  display: flex;
  align-items: center;
}
nav li,
footer li {
  display: inline-block;
  padding: 0 10px 0 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  border: none;
}
button:hover {
  opacity: 0.9;
}
main {
  margin: 0;
  display: flex;
  flex-direction: column;
}
main div {
  height: 500px;
  background-color: var(--color1);
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.theboys {
  background-color: var(--color4);
}
.themodel {
  background-color: var(--color2);
}
.storytelling {
  background-color: var(--color3);
}
.articles {
  background-color: var(--color1);
}

.testimonials {
  background-color: var(--color4);
}
.newsletter {
  background-color: var(--color1);
}
